* {
    /* border: 1px solid red; */
}

.page_container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */

    /* justify-content: space-around; */
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 15px;
    background-color: #1f2937;
    color: white;
}

.header_links {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

a, header_links {
    margin-right: 20px;
    color: #eeeeee;
    text-decoration-style: none;
}

.logo {
    
}

.hero_section {
    display: flex;
    justify-content: space-around;
    min-height: 325px;
    padding: 80px 280px;
    background-color: #1f2937;
    color: white;
    align-items: center;
}

.hero_main_text {
    font-family: "Roboto", serif;
    font-size: 25px;
    font-weight: 900;
    line-height: .95;
    padding-right: 25px;
}

.hero_secondary_text  {
    padding-right: 25px;
    margin-top: -22px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;
}

.hero_signup {
    background-color: #3882F6;
    padding: 8px;
    width: 130px;
    color: white;
    font-family: "Roboto", serif;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
}

.image_placeholder {

}

.info_header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    height: 525px;
    /* border: 1px solid red; */
}

.info_title {
    font-family: "Roboto", serif;
    font-size: 32px;
    font-weight: 600;
    color: rgb(41, 41, 41);
    
    /* line-height: .95; */
    /* padding-right: 25px; */
}

.info_content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 20px;
    
}

.info_box {
    max-width: 250px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: rgb(80, 80, 80);
}

.quote_text {
    background-color: #E5E7EB;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    color: #394049;
    font-style: italic;
    padding: 150px 290px 80px;


}

.quote_author {
    text-align: right;
    font-family: "Roboto", serif;
    font-style: bold;
    font-size: 34px;
    font-weight: 800;
}

.call_to_action {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    gap: 100px;
    background-color: #3882F6;
    color: white;
    font-family: "Roboto", serif;
    font-size: 16px;
    padding: 20px 80px;
    margin: 100px auto;
    line-height: 1.2;
    border-radius: 8px;
}

.call_to_signup {
    background-color: #3882F6;
    padding: 6px;
    width: 110px;
    height: 35px;
    color: white;
    font-family: "Roboto", serif;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 10px;
}

.call_bold {
    color: white;
    font-family: "Roboto", serif;
    font-size: 18px;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #1f2937;
    color: rgb(187, 187, 187);
    padding: 10px
}